frontend/step-functions/tests/excamera.json
{
  "Comment": "ExCamera",
  "StartAt": "vpxenc And xcdec",

  "States": {

    "vpxenc And xcdec": {
      "Type": "Map",
      "ItemsPath": "$.chunks",
      "ResultPath": "$",
      "MaxConcurrency": 0,
      "Next": "Group",
      "Iterator": {
        "StartAt": "vpxenc",

        "States": {

          "vpxenc": {
            "Type": "Task",
            "Resource": "vpxenc",
            "Next": "xcdec"
          },
          "xcdec": {
            "Type": "Task",
            "Resource": "xcdec",
            "End": true
          }

        }
      }
    },
    "Group": {
      "Type": "Task",
      "Resource": "Group",
      "Next": "Re-encode"
    },
    "Re-encode": {
      "Type": "Map",
      "ItemsPath": "$",
      "ResultPath": "$",
      "MaxConcurrency": 0,
      "Next": "Rebase",
      "Iterator": {
        "StartAt": "Reencode",

        "States": {
          "Reencode": {
            "Type": "Task",
            "Resource": "Reencode",
            "End": true
          }
        }
      }
    },
    "Rebase": {
      "Type": "Task",
      "Resource": "Rebase",
      "End": true
    }
  }
}

